@font-face {
    font-family: 'MainFont';
    src: url('./fonts/Roboto.ttf') format('opentype');
}


* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 1366px;
    height: 3373px;
    background: #FFFFFF;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.block_first {
    width: 100%;
    height: 768px;
    background-image: url("./img/Fon.svg");
    display: flex;
    flex-direction: column;

}

.header {
    height: 48px;
    padding: 34px 113px;
    display: flex;
    justify-content: space-between;
}

.switcher {
    width: 45px;
    height: 38px;
    position: relative;
}

.circle_left,
.circle_right {
    position: absolute;
    width: 30px;
    height: 32px;
    border: 2px solid #316099;
    border-radius: 50%;
}

.circle_left {
    background-color: #316099;
}

.circle_right {
    left: 15px;
    background-color: #FFFFFF;
}

.box_block_first {
    display: flex;
    justify-content: space-between;
    padding: 73px 113px;
}

.big_text {
    width: 504px;
    height: 148px;
    left: 113px;
    top: 189px;
    font-family: MainFont sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}

.small_text {
    margin-top: 32px;
    width: 425px;
    height: 82px;
    font-family: MainFont sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
}

.button {
    margin-top: 71px;
    width: 220px;
    height: 56px;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    font-family: MainFont sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.illustration {

    width: 553.68px;
    height: 481.39px;
    left: 699px;
    top: 193px;
}

/*.block_two{

    width: 1140px;
    height: 585.13px;
    left: 113px;
    top: 832px;
    display: flex;

}

.name-navigation{
    width: 1137px;
    height: 41px;
    font-family: MainFont sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;

    color: #000000;
}
